
.vs/Direct.GetCredentialApplication.Library/v16/.suo
.vs/Direct.GetCredentialApplication.Library/v16/Server/sqlite3/db.lock
.vs/Direct.GetCredentialApplication.Library/v16/Server/sqlite3/storage.ide
Direct.GetCredentialApplication.Library/bin/Debug/Connectivity.Shared.dll
Direct.GetCredentialApplication.Library/bin/Debug/Direct.Configuration.dll
Direct.GetCredentialApplication.Library/bin/Debug/Direct.Framework.dll
Direct.GetCredentialApplication.Library/bin/Debug/Direct.Interface.dll
Direct.GetCredentialApplication.Library/bin/Debug/Direct.RTSMicroServicesSupport.dll
Direct.GetCredentialApplication.Library/bin/Debug/Direct.Shared.Controls.dll
Direct.GetCredentialApplication.Library/bin/Debug/Direct.Shared.dll
Direct.GetCredentialApplication.Library/bin/Debug/Direct.Shared.Library.dll
Direct.GetCredentialApplication.Library/bin/Debug/Direct.WebServiceProxy.dll
Direct.GetCredentialApplication.Library/bin/Debug/Infragistics4.Shared.v15.1.dll
Direct.GetCredentialApplication.Library/bin/Debug/Infragistics4.Win.Misc.v15.1.dll
Direct.GetCredentialApplication.Library/bin/Debug/Infragistics4.Win.UltraWinEditors.v15.1.dll
Direct.GetCredentialApplication.Library/bin/Debug/Infragistics4.Win.UltraWinGrid.v15.1.dll
Direct.GetCredentialApplication.Library/bin/Debug/Infragistics4.Win.UltraWinMaskedEdit.v15.1.dll
Direct.GetCredentialApplication.Library/bin/Debug/Infragistics4.Win.UltraWinTree.v15.1.dll
Direct.GetCredentialApplication.Library/bin/Debug/Infragistics4.Win.v15.1.dll
Direct.GetCredentialApplication.Library/bin/Debug/Ionic.Zip.dll
Direct.GetCredentialApplication.Library/bin/Debug/log4net.dll
Direct.GetCredentialApplication.Library/bin/Debug/Microsoft.mshtml.dll
Direct.GetCredentialApplication.Library/bin/Debug/Microsoft.Web.Services2.dll
Direct.GetCredentialApplication.Library/bin/Debug/Newtonsoft.Json.dll
Direct.GetCredentialApplication.Library/bin/Debug/RESTSender.dll
Direct.GetCredentialApplication.Library/bin/Debug/Studio.Configuration.dll
Direct.GetCredentialApplication.Library/bin/Debug/Studio.Dom.dll
Direct.GetCredentialApplication.Library/bin/Debug/Studio.Resources.dll
Direct.GetCredentialApplication.Library/bin/Debug/Studio.Shared.dll
Direct.GetCredentialApplication.Library/bin/Debug/Studio.Shared.UI.dll
